
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_lpo64lddfex0qkt9.eot?t=1494162771648'); /* IE9*/
  src: url('//at.alicdn.com/t/font_lpo64lddfex0qkt9.eot?t=1494162771648#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_lpo64lddfex0qkt9.woff?t=1494162771648') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_lpo64lddfex0qkt9.ttf?t=1494162771648') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_lpo64lddfex0qkt9.svg?t=1494162771648#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-load:before { content: "\e815"; }

.icon-play:before { content: "\e653"; }

.icon-next:before { content: "\e671"; }

.icon-pause:before { content: "\e617"; }
